[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-ext-voice-recv = "*"
discord = "*"
vosk = "*"
pyaudio = "*"
ffmpeg = "*"
python-ffmpeg = "*"
opuspy = "*"
ffmpeg-python = "*"
pyogg = "*"

[dev-packages]

[requires]
python_version = "3.10"
