[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-ext-voice-recv = "*"
discord = "*"
vosk = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
